spring:
  config:
    activate:
      on-profile: dev

logging:
  level:
    root: DEBUG
    org.springframework.web: DEBUG
    dev.horbatiuk.timecapsule: DEBUG
  pattern:
    console: "%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n"
