app:
  base-url: http://localhost:8080
  user-max-capsules: 5
  user-max-attachments-per-capsule: 10
  premium-user-max-capsules: 20
  premium-user-max-attachments-per-capsule: 40

spring:
  profiles:
    default: prod
  application:
    name: timecapsule
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    hibernate:
      ddl-auto: none
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_ADDRESS}
    password: ${MAIL_APP_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.starttls.required: true
      mail.smtp.connectiontimeout: 5000
      mail.smtp.timeout: 5000
      mail.smtp.writetimeout: 5000
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
      resolve-lazily: true
jwt:
  secret:
    key: ${JWT_SECRET}
    access-token-expiration-ms: 1800000 # 30 хв
aws:
  access-key: ${S3_ACCESS_KEY}
  secret-key: ${S3_SECRET_KEY}
  region: ${AWS_SERVICES_REGION}
  lambda-arn: ${LAMBDA_ARN}
  scheduler-role-arn: ${SCHEDULER_ROLE_ARN}
  bucket: ${S3_BUCKET}
  s3:
    files-folder: ${FILE_FOLDER_NAME}
    data-folder: ${DATA_FOLDER_NAME}
    max-file-size: 10MB